
@{
    Layout = null;
}

<link href="~/lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <label>Adınız Soyadınız</label>
    <input class="form-control"  type="text" />
    <br />
    <label>Email Adresiniz</label>
    <input class="form-control"  type="email" />
    <br />
    <label>Telefon Numaranız</label>
    <input class="form-control"  type="tel" />
    <br />
    <label>Konu</label>
    <input class="form-control"  type="text" />
    <br />
    <label>Mesajınızı Yazınız</label>
    <textarea rows="5" class="form-control"></textarea>
    <br />
    <button class="btn btn-outline-info">Mesajı Gönder</button>
</div>