@model List<Service>
@{
    ViewData["Title"] = "ServiceList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h1>Hizmet Listesi</h1>

<table  class="table table-striped">
    <tr>
        <th>#</th>
        <th>Hizmet Türü</th>
        <th>Ikon</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model){
        count++;
        <tr>
            <td>@count</td>
            <td>@item.ServiceTitle</td>
            <td>@item.ServiceIcon</td>
            <td>@item.ServiceDescription</td>
            <td><a href="/Service/DeleteService/@item.ServicesID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServicesID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Service/AddService/" class="btn btn-outline-info">Yeni Hizmet Girişi Yap</a>