@model Service
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Hizmet Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" class="form-control" asp-for="ServicesID" />
    <label>Hizmet Türü</label>
    <input type="text" class="form-control" asp-for="ServiceTitle" style="border:1px solid black" />
    <br /> <label>İkon</label>
    <input type="text" class="form-control" asp-for="ServiceIcon" style="border:1px solid black" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" asp-for="ServiceDescription" style="border:1px solid black " />
    <br />
    <button class="btn btn-outline-success">Hizmet Bilgisini Güncelle</button>
</form>